<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>TCB</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>TCB.png</string>
      <key>label</key>
      <string>TransparentCameraBar</string>
    </dict>
    <key>items</key>
    <array>
    <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.TransparentCameraBar</string>
        <key>key</key>
        <string>enabled</string>
        <key>label</key>
        <string>Enabled</string>
        <key>PostNotification</key>
        <string>com.PS.TransparentCameraBar/ReloadPrefs</string>
        <key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
    <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Maximize camera preview</string>
        <key>id</key>
        <string>fs2</string>
      </dict>
    <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.TransparentCameraBar</string>
        <key>key</key>
        <string>fullScreen</string>
        <key>id</key>
        <string>fs</string>
        <key>label</key>
        <string>Full-screen</string>
        <key>PostNotification</key>
        <string>com.PS.TransparentCameraBar/ReloadPrefs</string>
        <key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
       <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Top Bar</string>
        <key>id</key>
        <string>topBar</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>topBar1</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.TransparentCameraBar</string>
        <key>key</key>
        <string>opacityTopBar</string>
        <key>label</key>
        <string>Custom opacity</string>
        <key>PostNotification</key>
        <string>com.PS.TransparentCameraBar/ReloadPrefs</string>
        <key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.TransparentCameraBar/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.TransparentCameraBar</string>
			<key>id</key>
        	<string>topBar2</string>
			<key>key</key>
			<string>topOpacity</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<false/>
		</dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>id</key>
        <string>topBar3</string>
        <key>defaults</key>
        <string>com.PS.TransparentCameraBar</string>
        <key>key</key>
        <string>hideTopBar</string>
        <key>label</key>
        <string>Hide</string>
        <key>PostNotification</key>
        <string>com.PS.TransparentCameraBar/ReloadPrefs</string>
        <key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Bottom Bar</string>
        <key>id</key>
        <string>bottomBar</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>bottomBar1</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.TransparentCameraBar</string>
        <key>key</key>
        <string>opacityBottomBar</string>
        <key>label</key>
        <string>Custom opacity</string>
        <key>PostNotification</key>
        <string>com.PS.TransparentCameraBar/ReloadPrefs</string>
        <key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
		<dict>
			<key>PostNotification</key>
			<string>com.PS.TransparentCameraBar/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.TransparentCameraBar</string>
			<key>id</key>
        	<string>bottomBar2</string>
			<key>key</key>
			<string>bottomOpacity</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<false/>
		</dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>id</key>
        <string>bottomBar3</string>
        <key>defaults</key>
        <string>com.PS.TransparentCameraBar</string>
        <key>key</key>
        <string>hideBottomBar</string>
        <key>label</key>
        <string>Hide</string>
        <key>PostNotification</key>
        <string>com.PS.TransparentCameraBar/ReloadPrefs</string>
        <key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>id</key>
        <string>compactBottomBar</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.TransparentCameraBar</string>
        <key>key</key>
        <string>compactBottomBar</string>
        <key>label</key>
        <string>Compact</string>
        <key>PostNotification</key>
        <string>com.PS.TransparentCameraBar/ReloadPrefs</string>
        <key>set</key>
        <string>masterSwitch:specifier:</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>Developer</string>
      		<key>footerAlignment</key>
		<integer>1</integer>
		<key>footerText</key>
		<string>© 2013 - 2017 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
      <dict>
    	<key>big</key>
    	<true/>
    	<key>cellClass</key>
		<string>HBTwitterCell</string>
		<key>height</key>
		<integer>60</integer>
		<key>label</key>
		<string>PoomSmart</string>
		<key>user</key>
		<string>PoomSmart</string>
	</dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate ❤️</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>url</key>
			<string>https://poomsmart.github.io/repo/</string>
		</dict>
    </array>
  </dict>
</plist>
